@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.NameSection {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    left: 0;
    top: 0;
    
    height: 100%;
    width: 100%;
    
    a {
        $header-font-size: 3;
        font-size: 3rem;
        margin: 0;
        position: relative;
        z-index: 10;
        text-decoration: none;
        font-weight: 700;
        color: white;

        @media screen and (min-width: 426px) and (max-width: 1000px){
            font-size: #{$header-font-size * 0.75}rem;
            margin-top: 5%;
        }
    }

    .colorLine {
        height: 1px;
        width: 80%;
        background-color: $pink;
        z-index: 10;

        @media screen and (min-width: 426px){
            display: none;
        }
    }

    h2 {
        display: none;

        @include full-stack-developer();
        width: 80%;

        @media screen and (max-width: 600px){
            display: block;
        }
    }
}
