@import "../../../../../styles/variables.scss";

.Nav {
    z-index: 10;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        list-style: none;

        li {
            padding: $padding-factor $padding-factor * 2;
            text-transform: uppercase;
            letter-spacing: 0.50rem;
            font-weight: 500;
            
            a {
                text-decoration: none;

                @media screen and (min-width: 426px) and (max-width: 1000px){
                    font-size: 0.75rem;
                }
            }
        }
    }

    @media screen and (max-width: 600px){
        display: none;
    }
}
