@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.Header {
    height: 15%;
    // box-shadow: 0 -10px 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: relative;
    background-color: rgb(50,50,50);
    color: white;

    .scrollDown {
        position: absolute;

        left: 50%;
        bottom: 20%;
        transform: translateX(-50%);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        p {
            font-family: $main-font;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            font-size: 0.75rem;
        }

        .svgContainer {
            position: relative;

            border-radius: 50%;
            background-color: rgba(lightgrey, 1);


            width: 2.5rem;
            height: 2.5rem;

            margin: $padding-factor;

            display: flex;
            justify-content: center;
            align-items: center;

            animation-name: pulse;
            animation-duration: 3s;
            animation-iteration-count: infinite;

            svg {

                position: absolute;

                width: 2rem;
                height: 2rem;

                animation-name: pulse-text;
                animation-duration: 3s;
                animation-iteration-count: infinite;
            }
        }

        @media screen and (min-width: 426px){
            display: none;
        }
    }

    @media screen and (max-width: 600px){
        height: 100vh;
        width: 100vw;
    }
}

@keyframes pulse {
    0% { width: 2rem; height: 2rem; }
    50% { width: 2.5rem; height: 2.5rem; }
    100% { width: 2rem; height: 2rem; }
}

@keyframes pulse-text {
    0% { width: 1.5rem; height: 1.5rem; }
    50% { width: 1.75rem; height: 1.75rem; }
    100% { width: 1.5rem; height: 1.5rem; }
}
