@import '../../../fonts.scss';
@import '../../../variables.scss';

.NameSection {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    left: 0;
    top: 0;
    
    height: 100%;
    width: 100%;
    
    h1 {
        font-family: $handwritten-heading;
        font-size: 3rem;
        margin: 0;
        position: relative;
        z-index: 10;
    
    }
}