@import '../fonts.scss';

.NameSection {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: $handwritten-heading;
        font-size: 3rem;
    }
}