@import 'mixins';
@import '../fonts';

$intro-image-size: 300px;
$backing-size: $intro-image-size / 3.5;

.Intro {

    width: 50%;

    > h2 {
        @include small-title;
    }

    .intro-card {
        @include whitepanel;
        padding: ($padding-factor * 6) ($padding-factor * 4);

        display: flex;
        justify-content: space-around;
        align-items: center;

        .intro-text {
            h1 {
                font-family: $handwritten-heading; 
            }
        }

        .image-container {
            
            position: relative;
            width: $intro-image-size;
            height: $intro-image-size;

            img {
                width: $intro-image-size;
                height: $intro-image-size;
                object-fit: cover;
                object-position: 50% 0%;
                border-radius: 50%;
                position: absolute;
            }

            div.pink-backing {
                @include img-backing($pink);
                right: $backing-size;
                top: $backing-size;
            }

            div.blue-backing {
                @include img-backing($blue);
                left: $backing-size;
                bottom: $backing-size;
            }
        }
    }
}
