@import '../../../styles/variables.scss';

.CommitData {
  border: 1px solid $cyan;
  border-radius: 5px;
  padding: $padding-factor;
  position: relative;

  p.recentCommits {
    position: absolute;
    top: 0;
    font-size: 0.5rem;
    transform: translateY(-50%);
    background-color: $cyan;
    border-radius: 5px;
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 2.5px;   left: 2.5%;
    color: rgb(37,37,37);
  }
}
