@import '../../../styles/variables.scss';

.CommitData {
  border: 2px solid rgb(240, 240, 240);
  border-radius: 15px;
  padding: $padding-factor;
  position: relative;

  p.recentCommits {
    position: absolute;
    top: 0;
    font-size: 0.5rem;
    transform: translateY(-50%);
    background-color: white;
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 2.5px;   left: 2.5%;
  }
}
