@import '../variables.scss';
@import '../fonts.scss';
@import 'mixins';

.Repo {
    @include whitepanel;

  h3 {
    font-family: $handwritten-heading;
    margin: 0 auto $padding-factor / 2;
    font-size: 1.5rem;
  }

  .language-banner {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $pink;
    color: white;
    margin: 0;
    padding: $padding-factor;
    border-radius: 0 5px 0 5px;
  }

  .repo-container {
    padding: ($padding-factor / 2) ($padding-factor / 2);
    > p {
      margin-top: 0;
      font-style: italic;
    }
  }

}
