.BowmanBlobContainer {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: .5;
}
.BowmanBlob {
    fill: #F72585;
}

.BowmanBlobBackground {
    enable-background: new 0 0 1190.55 841.89;
}



