@import '../styles/variables.scss';

.App {
  height: 100%;

  .bodyContainer {
    background-image: url('../public/img/barcelona.jpg');
    background-color: $purple;
    background-size: cover;
    background-position: center;

    height: 80%;

    @media screen and (max-width: 600px) {
        overflow-y: hidden;
        height: 200vh;
    }
  }
}

.mobile {
}
