@import "../variables.scss";
@import "../fonts.scss";

.Nav {
    z-index: 10;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        list-style: none;

        li {
            padding: $padding-factor $padding-factor * 2;
            text-transform: uppercase;
            letter-spacing: 0.50rem;
            font-weight: 500;
        }
    }

    @media screen and (max-width: 600px){
        display: none;
    }
}
