@import 'variables';

.LandingPage3D {
    height: 100%;
    background: radial-gradient($blue, $mauve);
    position: relative;

    .name {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        font-size: 3em;
    }
}