@import '../variables';

@mixin whitepanel {
  background-color: rgba(255, 255, 255, 1);
  padding: $padding-factor;
  margin: $padding-factor 0;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@mixin img-backing($color){
    width: $intro-image-size / 1.25;
    height: $intro-image-size / 1.25;
    border-radius: 50%;
    background-color: $color;
    opacity: 0.15;

    position: absolute;
}

@mixin small-title(){
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 0.8rem;
}

@mixin full-stack-developer(){
    text-transform: uppercase;
    font-family: $main-font;
    font-size: 1rem;
    letter-spacing: 0.50rem;
    text-align: center;
}
